@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/bulma';


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.modal-content {
  overflow-x: hidden;
  overflow-y: hidden;

  .column-login {
    margin-bottom: 0px;
  }

  p.info-text {
    padding: 4px;
  }
}

.column-settings {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -8px;
  z-index: 1;
  transition: margin-bottom 0.5s;
}

.column-settings:hover {
  margin-bottom: 0 !important;
}

.chat-column {
  z-index: 2;
  background: #ededed;
  margin: 0 !important;

    .column {
      text-align: center;
    }

}

#messages {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  margin-bottom: 40px;
  flex: 1;

    li {
      display: flex;
      padding: 5px 10px; 
    }

    .join-text {
      color: #5d5dff;
    }

    .leave-text {
      color: #e60000;
    }

    li:nth-child(odd) {
      background: #eee; 
    }
}




// nightmode

.body-nightmode {
  background: #1d1d1d;
}
.message-nightmode {
  color: #ffffff;
  background-color: #0e0e0e;
  border-color: #000000;
}

.messages-nightmode {
  color: #d8d8d8 !important;

    .leave-text {
      color: #e60000 !important;
    }

    li:nth-child(odd) {
      background: #151515 !important;
    }
}

.chat-column-nightmode {
  background: #121212;
}